body {
/*    background-image: url(zebra.jpg);*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
    background-color: #444;
/*    text-align: center;*/
}

h1 {
    color: #ffffff;
    line-height: 2rem;  
    font-family: 'Macondo', serif, sans-serif;
}

h2 {
    color: #ffffff;
    line-height: 2rem; 
    font-family: 'Open Sans Condensed', serif, sans-serif;
}

h3 {
    color: #ffffff;
    line-height: 2rem;   
    font-family: 'Spirax', serif, sans-serif;
}

.formatting {
    font-size: 25px;
    line-height: 2em;
    color: white;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    letter-spacing: 5px;
    word-spacing: 20px;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    height: auto;
    padding: 5px;
    opacity: 0.5;
    margin: 20px;
}

.borderImg {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid #ddd;
    padding: 5px;
}

button {
    color: white;
    background: red;
    border-radius: 12px;
    border: none;
    font-size: 25px;
    padding: 10px 20px 30px 40px;
    margin: 20px;
}

ul li {
    color: white;
    font-size: 20px;
}

ul > li {
    color: yellow;
}
